[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/alajs"]
	path = external/alajs
	url = https://github.com/ALADINIO/alajs
